#--vscode
.vscode/

#--haskell
*.hi
*.o
*.dyn_hi
*.dyn_o
*.prof
*.aux
*.hp
*.eventlog
dist/
dist-newstyle/
.stack-work/
_build/

#--binarios
*.exe
*.out
*.app
*.js
*.so
*.dll
*.dylib

#--prolog
*.qlf
*.po
*.pl~ 
*~